.input_wrapper{
    margin-bottom: 1.5rem;
}
.input_wrapper > p{
margin-bottom: 0.5rem;
font-size: 1rem;
}
.input_wrapper > input{
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    outline: none;
    opacity: 0.8;
}
.input_wrapper > input:hover{
    opacity: 1;
    transition: all 0.3s;
}