.signup_wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: var(--shadow);
    padding:1.5rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.4rem
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}
.p-click-here{
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
}